[flake8]
ignore = ANN101
count = True
statistics = True
docstring-convention = google
max-line-length = 99
exclude = 
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    .venv,
    scratch
